.heartrate
{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 50px;
}
.dil
{
    padding-right: 200px;
    height: 700px;
}
.heartkagyan
{
    padding-left: 200px;
}
.heartkagyan1
{
    padding-top:  250px;
}
.harsh
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 150px;
    font-weight: bold;
}